

#cardHeader{
    
    background:5a189a;
    background: linear-gradient(90deg, rgb(112, 17, 189) 15%, rgb(185, 96, 236) 100%);     
}

#CardTitle{
    color:aliceblue;
    

}

#search_button{
   background-color:"#5a189a";
}


.css-quj9j6-MuiTable-root{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}
.MuiTableCell-head  {
    background-color: '#5a189a' !important;
  }

